﻿<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <strong>Summary:</strong>
    <p>{{summary}}</p>
    <strong>Participants:</strong>
    <p *ngIf="!participants.length">Nobody is joining this event :(</p>
    <table class='table' *ngIf="participants.length">
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let participant of participants; let i = index">
            <td>{{i+1}}</td>
            <td>{{ participant.user.email }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" [disabled]="!canJoin" (click)="joinEvent()">Join</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>