<carousel>
    <slide>
        <img src="../../assets/images/1.jpg" alt="First slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>RaidTracker</h3>
            <p>Enables you to track raid events and performance</p>
        </div>
    </slide>
    <slide>
        <img src="../../assets/images/2.jpg" alt="Second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>RaidTracker</h3>
            <p>Enables you to track raid events and performance</p>
        </div>
    </slide>
    <slide>
        <img src="../../assets/images/3.jpg" alt="Third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>RaidTracker</h3>
            <p>Enables you to track raid events and performance</p>
        </div>
    </slide>
</carousel>

<div class="container-fluid">
    <div class="row" style="font-family: 'Roboto Condensed', sans-serif">
        <div class="col-lg-7">
            <h1>Welcome to RaidTracker!</h1>
            <p>With RaidTracker you can easily:</p>
            <ul>
                <li><strong>Create Guilds</strong>. Join or create new guilds for you and your friends</li>
                <li><strong>Create Events</strong>. A bit boring? Why not to create an event for your guild?</li>
            </ul>
        </div>
        <div class="col-lg-5">
            <img src="../../assets/images//Guild_Wars_2_logo.svg" class="img-responsive" style="display: block; width: 100%;"/>
        </div>
    </div>
</div>


