<div class='container-fluid'>
    <div>
        <nav-menu></nav-menu>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div>
        <footer></footer>
    </div>
</div>
