﻿<div class="container-fluid">
    <h1>Events</h1>

    <p>List of events you can participate in.</p>

    <table class='table' *ngIf="events">
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Guild</th>
            <th>Start Time</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events; let i = index">
            <td>{{i+1}}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.guild.name }}</td>
            <td>{{ event.startTime | date: 'yyyy/MM/dd HH:mm' }}</td>
            <td>{{ event.participants.length }}</td>
            <td><button type="button" class="btn btn-link" (click)="viewEventDetails(i)">View</button></td>
        </tr>
        </tbody>
    </table>

    <button [routerLink]="['/event-form']" class="btn btn-primary" type="button">
        <span class="glyphicon-plus"></span> Create
    </button>
</div>