﻿<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<h1>New Event</h1>

<form #eventForm="ngForm" (ngSubmit)="submit()" novalidate>
    
    <div class="form-group">
        <label for="guild">Guild</label>
        <select id="guild" class="form-control" [(ngModel)]="event.guildId" name="guildId" required #guild="ngModel">
            <option value=""></option>
            <option *ngFor="let g of guilds" value="{{ g.id }}">{{ g.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="guild.touched && !guild.valid">Please specify the guild.</div>
    </div>

    <div class="form-group">
        <label for="eventName">Name</label>
        <input id="eventName" type="text" class="form-control" [(ngModel)]="event.name" name="eventName" required #eventName="ngModel">
        <div [hidden]="eventName.valid || eventName.pristine" class="alert alert-danger"> Name is required</div>
    </div>

    <div class="form-group">
        <label for="eventSummary">Summary</label>
        <input id="eventSummary" type="text" class="form-control" [(ngModel)]="event.summary" name="eventSummary" required #eventSummary="ngModel">
        <div [hidden]="eventSummary.valid || eventSummary.pristine" class="alert alert-danger"> Summary is required</div>
    </div>

    <div class="form-group">
        <label for="eventDate">Date</label>
        <input id="eventDate" type="text" class="form-control" [bsConfig]="bsConfig"
               [minDate]="minDate"
               bsDatepicker
               [(ngModel)]="startDate" name="eventDate" required #eventDate="ngModel">
        <div [hidden]="eventDate.valid || eventDate.pristine" class="alert alert-danger"> Start date is required</div>
    </div>

    <div class="form-group">
        <label for="eventTime">Time</label>
        <timepicker id="eventTime" [(ngModel)]="startTime" name="eventTime" required #eventTime="ngModel"></timepicker>
        <div [hidden]="eventTime.valid || eventTime.pristine" class="alert alert-danger"> Start time is required</div>
    </div>

    <div>
        <alert [hidden]="successHidden" type="success" dismissible="true">
            <strong>Well done!</strong> New event was created.
        </alert>
    </div>
    <button class="btn btn-primary" [disabled]="saveDisabled || !eventForm.form.valid">Save</button>
</form>