<div class="main-nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/home']">RaidTracker</a>
            </div>
            <div class="clearfix">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/home']">
                                <span class="glyphicon glyphicon-home"></span> Home
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/profile']" *ngIf="auth.isAuthenticated()">
                                <span class="glyphicon glyphicon-user"></span> My Profile
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/guild']" *ngIf="auth.isAuthenticated()">
                                Guilds
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/event']" *ngIf="auth.isAuthenticated()">
                                Events
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li [routerLinkActive]="['link-active']">
                            <a (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>        
    </nav>
</div>
