﻿<h1>Guilds</h1>

<p>List of guilds you are currently in.</p>

<table class='table' *ngIf="guilds">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Members</th>
            <th>Events</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let guild of guilds; let i = index">
            <td>{{i+1}}</td>
            <td>{{ guild.name }}</td>
            <td>{{ guild.members.length }}</td>
            <td>{{ guild.events.length }}</td>
            <td><button type="button" class="btn btn-link" (click)="viewGuildDetails(i)">View</button></td>
        </tr>
    </tbody>
</table>

<button [routerLink]="['/guild-form']" class="btn btn-primary" type="button">
    <span class="glyphicon-plus"></span> Create
</button>