﻿<div class="panel panel-default profile-area">
    <div class="panel-heading">
        <h3>Profile</h3>
    </div>
    <div class="panel-body">
        <div>
            <h3 class="email">{{ profile?.email }}</h3>
        </div>
        <pre class="full-profile">{{ profile | json }}</pre>
    </div>
</div>