﻿<div class="footer">
    <nav class="navbar-fixed-bottom navbar-inverse">
        <div class="container-fluid">
            <p class="text-muted" align="center">Saulius Stankevičius IFF-4/2</p>
        </div>
    </nav>
</div>
