﻿<h1>New Guild</h1>

<form #guildForm="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="guildName" type="text" class="form-control" [(ngModel)]="guild.name" name="guildName" required #guildName="ngModel">
        <div [hidden]="guildName.valid || guildName.pristine" class="alert alert-danger"> Name is required</div>
    </div>
    <div>
        <alert [hidden]="successHidden" type="success" dismissible="true">
            <strong>Well done!</strong> New guild was created.
        </alert>
        <alert [hidden]="errorHidden" type="danger" dismissible="true">
            <strong>Error!</strong> Guild name is already taken.
        </alert>
    </div> 
    <button class="btn btn-primary" [disabled]="saveDisabled || !guildForm.form.valid">Save</button>
</form>