﻿<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class='table' *ngIf="members.length">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members; let i = index">
                <td>{{i+1}}</td>
                <td>{{ member.user.email }}</td>
                <td>{{ member.rank }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>